body {
    color: red;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

#header {
    /* margin: 400; */
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: left;
    background: rgb(47, 172, 63);
}

#header #tagletras {
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 0 1em;
}

#contenedor {
    width: 70%;
    padding: 1em;
    border: 2px solid black;
    margin: 0 auto;
}

#contenedor h1 {
    font-size: 50px;
    color: rgb(43, 33, 172);
}